.row1{
    display:flex;
    flex-direction:row;
   /*justify-content: space-around;*/
}

.column1{
    display:flex;
    flex-direction:column;
    width:20%;
    padding-right: 20px;

}

.column2{
    display:flex;
    flex-direction:column;
    width:80%
}